<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css2/styles.css">
    

    <title>Perguntas e respostas</title>
</head>
<body>
   <%- include ('partials/navBar') %>
        <div class="car">
        <div class='myDivForm'> 
           
            
            <form class='myForm' method="POST" action="/dados">
          <%- include ('partials/header') %>
              <strong>Titulo:</strong>
              <br>
                <input type="text" class='myInput' name='titulo'>
                <br>
                <strong>descrição:</strong>
                <br>                
                <textarea class = myTextArea name='descricao'></textarea>
                <br>
                <div>
                <button class='myButton'>Perguntar</button>
                </div>
            
            </form>
            </div>
         
       </div>

       <%- include ('partials/footer') %>
   
  </body>
</html>